{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://use.fontawesome.com/d85834dac0.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse">
            <div class="navbar-header">
                <a href="#" class="navbar-brand" style="margin-left: 1rem;">Indian Railways Enquiry</a>
            </div>
            
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% if user.is_superuser %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'train:createTrain' %}">Add Trains</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'train:createStation' %}">Add Stations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'train:createRouteStation' %}">Add Route Station</a>
                    </li>
                {% endif %}

                <li class="nav-item active">
                    <a class="nav-link" href="#">PNR Enquiry</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Search Train</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reserved Train Between Stations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Seat Availability</a>
                </li>
              </ul>

              <span class="navbar-text">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'railway:logout' %}">Logout</a>
                {% else %}
                    <a class="nav-link" href="{% url 'railway:login' %}">Login</a>
                {% endif %}
              </span>
              
        </div>
    </nav>
</body>
</html>