{% include 'railway/base.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h3 class="card-title">Login</h3>
            <form action="{% url 'railway:login' %}" method="POST" class="card card-sm">
                {% csrf_token %}
                <div class="card-body row no-gutters align-items-center">
                    <div class="mb-3">
                        <input type="text" name="username" placeholder="Username" class="form-control form-control-borderless">
                    </div>
                    <div class="mb-3">
                        <input type="password" name="password" placeholder="Password" class="form-control form-control-borderless">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Sign In</button>
                    </div>
                
                </div>
            </form>
        </div>
    </div>
</div>


