{% include 'railway/base.html' %}
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h3 class="card-title">Create Your Account</h3>
                <form action="{% url 'railway:register' %}" method="POST" class="card card-sm">
                    {% csrf_token %}
                    <div class="card-body row no-gutters align-items-center">
                        <div class="mb-3">
                            <input type="text" name="first_name" placeholder="First Name" class="form-control form-control-borderless">
                        </div>
                        
                        <div class="mb-3">
                            <input type="text" name="last_name" placeholder="Last Name" class="form-control form-control-borderless">
                        </div>

                        <div class="mb-3">
                            <input type="text" name="username" placeholder="Username" class="form-control form-control-borderless">
                        </div>

                        <div class="mb-3">
                            <input type="email" name="email" placeholder="Email" class="form-control form-control-borderless">
                        </div>

                        <div class="mb-3">
                            <input type="password" name="password1" placeholder="Password" class="form-control form-control-borderless">
                        </div>

                        <div class="mb-3">
                            <input type="password" name="password2" placeholder="Confirm Password" class="form-control form-control-borderless">
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    
        
            
    {% endblock %}
