{% include 'railway/base.html' %}
{% block body%}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-3">
            <h3 class="card-title">Add / Edit route of station</h3>
            <form action="#" method="post" class="card card-sm">
                {%csrf_token%}
                <div class="card-body row no-gutters align-items-center">
                    <div class="row mb-3">{{form}}</div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
                        
        </div>
    </div>
</div>
{% endblock %}