{% include 'railway/base.html' %}
{% block body%}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-3">
            <h3 class="card-title">Add / Edit Train</h3>
            <form action="#" method="post" class="card card-sm">
                {%csrf_token%}
                <div class="card-body row no-gutters align-items-center">
                    <div class="row mb-3">{{form}}</div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
                        
        </div>
    </div>
</div>
{% endblock %}

<!-- <div class="card-body row no-gutters align-items-center">
    <div class="row mb-3">
        <label for="TrainNumber" class="form-label">Train Number</label>
        <div class="col-sm-12">
            <input type="text" name="train_number">
        </div>
    </div>
    <div class="row mb-3">
        <label for="TrainName" class="form-label">Train Name</label>
        <div class="col-sm-12">
            <input type="text" name="train_name">
        </div>
    </div>
    <div class="row mb-3">
        <label for="selectroute" class="form-label">Select Route</label>
        <div class="col-sm-12">
            <select name="route" class="form-select">
            {% for i in routeData %}
                <option value="{{ i.id }}">{{i.source_station}}--{{i.dest_station}} </option>
            {% endfor %}
            </select>
        </div>
    </div>
    
    <div class="col-auto">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</div> -->
