{% include 'railway/base.html' %}
{% block body%}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-3">
            <h3 class="card-title">Delete Train</h3>
            <form method="POST" class="card card-sm">
                {% csrf_token %}
                <div class="card-body row no-gutters align-items-center">
                    <p>Are you sure want to delete <b>{{train_detail.train_name}}</b> train?</p>
                    <div class="col-auto"><button type="submit" class="btn btn-danger">Delete</button></div>
                </div>
            </form>
        </div>
    </div>
</div>
   
{% endblock %}

