{% include 'railway/base.html' %}
{% block body%}

<table id="train_table" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Source Route</th>
            <th>Destination Route</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for route in routeData %}
        <tr>
            <td>{{ route.source_station }}</td>
            <td>{{ route.dest_station }}</td>
            <td>
                <a href="{% url 'train:updateRoute' route.id %}">
                    <i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
            <td>    
                <a href="#" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <h5>Are you sure want to delete {{route.source_station}} -- {{route.dest_station}} route?</h5>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <a href="{% url 'train:deleteRoute' route.id %}" class="btn btn-primary">Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}




<script type="text/javascript">
    $(document).ready(function() {
        $('#train_table').DataTable();
    } );
</script>