{% include 'railway/base.html' %}
{% block body%}

<table id="train_table" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Station ID</th>
            <th>Station Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{stationData}}
        {% for station in stationData %}
        <tr>
            <td>{{ station.station_id }}</td>
            <td>{{ station.station_name }}</td>
            <td>
                <a href="{% url 'train:updateStation' station.station_id %}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
            </td>
            <td>    
                <a href="{% url 'train:deleteStation' station.station_id %}">
                <i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


<script type="text/javascript">
    $(document).ready(function() {
        $('#train_table').DataTable();
    } );
</script>