{% include 'railway/base.html' %}
{% block body%}

<table id="train_table" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Train Number</th>
            <th>Train Name</th>
            <th>Source Station</th>
            <th>Destination Station</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for train in final_data %}
        <tr>
            <td>{{ train.train_number }}</td>
            <td>{{ train.train_name }}</td>
            <td>{{ train.source_station }}</td>
            <td>{{ train.dest_station }}</td>
            <td>
                <a href="{% url 'train:updateTrain' train.train_number %}">
                <i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
            <td>    
                <a href="{% url 'train:deleteTrain' train.train_number %}">
                <i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


<script type="text/javascript">
    $(document).ready(function() {
        $('#train_table').DataTable();
    } );
</script>

<!-- <div class="card-body row no-gutters align-items-center">
    <div class="row mb-3">
        <label for="TrainNumber" class="form-label">Train Number</label>
        <div class="col-sm-12">
            <input type="text" name="train_number">
        </div>
    </div>
    <div class="row mb-3">
        <label for="TrainName" class="form-label">Train Name</label>
        <div class="col-sm-12">
            <input type="text" name="train_name">
        </div>
    </div>
    <div class="row mb-3">
        <label for="selectroute" class="form-label">Select Route</label>
        <div class="col-sm-12">
            <select name="route" class="form-select">
            {% for i in routeData %}
                <option value="{{ i.id }}">{{i.source_station}}--{{i.dest_station}} </option>
            {% endfor %}
            </select>
        </div>
    </div>
    
    <div class="col-auto">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</div> -->
