{% include 'railway/base.html' %}
{% block body%}

<table id="train_table" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Train Name</th>
            <th>Station Name</th>
            <th>Station Route</th>
            <th>Arrival Time</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for stationroute in routestations %}
        <tr>
            <td>{{ stationroute.train_number }}</td>
            <td>{{ stationroute.station_id }}</td>
            <td>{{ stationroute.route_id }}</td>
            <td>{{ stationroute.atime }}</td>
            <td>
                <a href="{% url 'train:updateRouteStation' stationroute.id %}">
                    <i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
            <td>    
                <a href="{% url 'train:deleteRouteStatio' stationroute.id %}">
                <i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


<script type="text/javascript">
    $(document).ready(function() {
        $('#train_table').DataTable();
    } );
</script>

